{
  "domain":               "domain.org",
  "cert_file":            "domain.org.crt",
  "key_file":             "domain.org.key",
  "proxy_address":        ":443",
  "admin_address":        ":6060",
  "dns_address":          ":53",
  "upstream_dns_address": "192.168.2.10:53",
  "update_period":        10,
  "token":                "ThisIsASecretToken"
}
         
