{
  "domain":        "domain.org",
  "cert_file":     "domain.org.crt",
  "key_file":      "domain.org.key",
  "listen_addr":   ":443",
  "admin_addr":    ":6060",
  "dns_addr":      ":53",
  "upstream_dns":  "192.168.2.10:53",
  "update_period": 10,
  "token":         "ThisIsASecretToken"
}
         